<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 从哪个包中寻找注解-->
    <context:component-scan base-package="com.bookproject" />

    <!-- 配置数据源-->
    <bean id="myDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <!--配置mysql驱动包-->
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <!--配置连接URL-->
        <property name="url" value="jdbc:mysql://localhost:3306/test_book"/>
        <!--用户名-->
        <property name="username" value="root"/>
        <!--密码-->
        <property name="password" value="123456"/>
    </bean>

    <!-- 配置SessionFactory-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="myDataSource"/>
        <!-- 指定从哪个包中查找注解的model-->
        <property name="packagesToScan">
            <value>com.bookproject.model</value>
        </property>
        <!-- 配置hibernate相关属性-->
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                <!--配置数据库表自动生成策略-->
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <!--打印SQL语句-->
                <prop key="hibernate.show_sql">true</prop>
                <!--格式化SQL语句-->
                <prop key="hibernate.format_sql">true</prop>
            </props>
        </property>
    </bean>

    <!-- 创建事务管理器-->
    <bean id="txManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <!-- 注入sessionFactory-->
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <!-- spring事务的实现是基于AOP方式-->
    <aop:config>
        <!-- 定义切入点-->
        <aop:pointcut id="allMethod" expression="execution(* com.bookproject.dao.*.*(..))" />
        <aop:advisor advice-ref="txAdvice" pointcut-ref="allMethod" />
    </aop:config>

    <!-- 配置事务增强，哪些方法使用什么样的规则-->
    <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>
            <!-- 以下表示所有的方法都加入事务-->
            <tx:method name="*" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>

</beans>